OPENAI_API_KEY=dummy_openai_key_4Xy09S63H0zKIf_1ZWCMdkxy5zeANa2_VKq45kjbe3es8gyU-cEwxrNrq5xNduT3BlbkFJMMI8hj6uY3zQXBcyO0FzoE7Eo1Q3mApwINEaYd_Hzhm9livymejOCb_4rujFD-5gffAsxz_3AA
NUTANIX_S3_ENDPOINT=http://10.36.10.151:80
NUTANIX_ACCESS_KEY=nfp9JFL7kRxCTPG7zyyAc995uSxnrtV2
NUTANIX_SECRET_KEY=FJbDCjlUQtYYx6dSnFj9GnkbOwPxupfL
